# Database connection (Neon PostgreSQL Pooled URL)
DATABASE_URL="postgresql://user:password@ep-sample-pooler.region.aws.neon.tech/neondb?sslmode=require"

# Better Auth Configuration
BETTER_AUTH_SECRET="your-32-character-secret-here"
BETTER_AUTH_URL="http://localhost:5173"
